-
  var seo = {};
  seo.author = 'Greg Walden';
  seo.title = 'Countdown to Episode VIII';
  seo.description = description;
  seo.url = 'https://www.starwarsclock.com';
  seo.site = '@givemesnacks';
  seo.creator = seo.site;
  seo.image = seo.url + '/img/bb8.png';
  seo.card = 'summary';

//- HTML basics
title=seo.title
meta(name='author', itemprop='name', content=seo.author)
meta(name='description', itemprop='description', content=seo.description)
link(rel='canonical', itemprop='url', href=seo.url)

//- Common Items
each name in ['title', 'description', 'image']
  meta(property='og:' + name, content=seo[name])
  meta(name='twitter:' + name, content=seo[name])

//- Open Graph Specifics
each name in ['url']
  meta(property='og:' + name, content=seo[name])

//- Twitter Card Specifics
each name in ['card', 'site', 'creator']
  meta(name='twitter:' + name, content=seo[name])

//- Microdata
meta(itemprop='image', content=seo.image)
